@import '../variables.scss';

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  background-color: $lightGrey;
}

main {
  margin: 1rem;
  display: flex;
  flex: 1 1;
  min-height: calc(100vh - 8rem);
}

aside {
  @media (min-width: 768px) {
    margin-right: 1rem;
    width: 25%;
  }

  h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
}

#history {
  list-style: none;

  @media (min-width: 768px) {
    flex-basis: 0;
    min-height: calc(100vh - 10rem);
    overflow: none;
  }
}

section.deck {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

input.wide {
  width: 100%;
}

#methods {
  display: flex;
  margin: 1rem 0;

  button {
    padding: 1px 6px;
  }
}